APP_NAME=backend_salon
APP_ENV=production
APP_KEY=base64:WocdrRRTMA1y3O29QflZBlM5C4z95mQD26ju9eWkNP8=
APP_DEBUG=false
APP_URL=http://localhost:8000

 DB_CONNECTION=sqlite
 DB_DATABASE=/var/data/database.sqlite


SESSION_DRIVER=cookie
CACHE_DRIVER=array

FRONTEND_URL='https://precioushairmpire-git-main-salawu-babatundes-projects.vercel.app'